<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/wwwroot/icons/stratus.png">
    <link rel="stylesheet" href="/wwwroot/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/wwwroot/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/wwwroot/lib/highlight/styles/dracula.css" />
    <link rel="stylesheet" href="/wwwroot/css/Index.css" />

</head>
<body>
    <div class="container-fluid d-flex flex-column min-vh-100">
        {{>Nav}}
        <div class="flex-grow-1 border rounded my-2 shadow d-flex">
            {{{body}}}
        </div>
        {{>Footer}}
    </div>

    <script src="/wwwroot/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot/lib/highlight/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/wwwroot/js/Index.js"></script>
</body>
</html>