<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/wwwroot/images/bus-front.svg">
    <link rel="stylesheet" href="/wwwroot/lib/bootstrap/css/bootstrap.min.css"/>
    <script src="/wwwroot/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    {{>Nav}}
    {{{body}}}
</body>
</html>