* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fi {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    fill: currentColor;
}
pre, code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
